// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include "rk3568.dtsi"
#include "rk3568-evb.dtsi"


/ {
	aliases {
    	/delete-property/ dsi0;
		/delete-property/ dsi1;
		/delete-property/ serial0;
		/delete-property/ serial1;
		/delete-property/ serial2;
		/delete-property/ serial3;
		/delete-property/ serial4;
		/delete-property/ serial5;
		/delete-property/ serial6;
		/delete-property/ serial7;
		/delete-property/ serial8;
		/delete-property/ serial9;
		serial0 = &uart2;
		serial1 = &uart0;
		serial2 = &uart3;
		serial3 = &uart4;
		serial4 = &uart5;
		serial5 = &uart8;
		serial6 = &uart9;
	};
}; 


/delete-node/ &gt1x;
/delete-node/ &mxc6655xa;
/delete-node/ &wireless_wlan;
/delete-node/ &wireless_bluetooth;

/delete-node/ &lvds; 
/delete-node/ &rgb; 
/delete-node/ &hdmi_sound;
/delete-node/ &hdmi; 
/delete-node/ &edp;
/delete-node/ &display_subsystem;
/delete-node/ &vop;
/delete-node/ &dsi0;
/delete-node/ &dsi1;
/delete-node/ &backlight;
/delete-node/ &backlight1;


/delete-node/ &rk809_sound;
/delete-node/ &sdio_pwrseq;

/delete-node/ &hp_det;
/delete-node/ &mxc6655xa_irq_gpio;
/delete-node/ &touch_gpio;
/delete-node/ &wifi_enable_h;
/delete-node/ &uart8_gpios;


&pmu_io_domains {
    pmuio2-supply = <&vcc3v3_pmu>;
    vccio1-supply = <&vccio_acodec>;
    vccio3-supply = <&vccio_sd>;
    vccio4-supply = <&vcc_1v8>;
    vccio5-supply = <&vcc_3v3>;
    vccio6-supply = <&vcc_1v8>;
    vccio7-supply = <&vcc_3v3>;
};

&sata2 {
	status = "okay";
};


&i2c0 {
	status = "okay";
	clock-frequency = <80000>;
	gpio@22 {
		compatible = "ti,tca6424";
		reg = <0x22>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&i2c1_xfer {
	rockchip,pins =
		/* i2c1_scl */
		<0 RK_PB3 RK_FUNC_GPIO &pcfg_pull_up_drv_level_15>,
		/* i2c1_sda */
		<0 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up_drv_level_15>;
};
&i2c1 {
	status = "okay";
	compatible = "i2c-gpio";
	sda-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
	scl-gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_xfer>;
	i2c-gpio,delay-us = <5>;	/* ~100 kHz */
	#address-cells = <1>;
	#size-cells = <0>;

	eeprom@50 {
		compatible = "atmel,24c04";
		reg = <0x50>;
		pagesize = <16>;
	};
};

&i2c2m0_xfer {
	rockchip,pins =
		/* i2c1_scl */
		<0 RK_PB5 RK_FUNC_GPIO &pcfg_pull_up_drv_level_15>,
		/* i2c1_sda */
		<0 RK_PB6 RK_FUNC_GPIO &pcfg_pull_up_drv_level_15>;
};
&i2c2 {
	status = "okay";
	compatible = "i2c-gpio";
	sda-gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
	scl-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2m0_xfer>;
	i2c-gpio,delay-us = <5>;	/* ~100 kHz */
	#address-cells = <1>;
	#size-cells = <0>;
};

&i2c5m0_xfer {
	rockchip,pins =
		/* i2c5_scl */
		<3 RK_PB3 RK_FUNC_GPIO &pcfg_pull_up_drv_level_15>,
		/* i2c5_sda */
		<3 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up_drv_level_15>;
};

&i2c5 {
	status = "okay";
	compatible = "i2c-gpio";
	sda-gpios = <&gpio3 12 GPIO_ACTIVE_HIGH>;
	scl-gpios = <&gpio3 11 GPIO_ACTIVE_HIGH>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c5m0_xfer>;
	i2c-gpio,delay-us = <5>;	/* ~100 kHz */
	#address-cells = <1>;
	#size-cells = <0>;
	hym8563: hym8563@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
	};
};

&uart2 {
	status = "okay";
};

&pinctrl {
	rs485ctrl {
		com1_485_ctrl: com1_485_ctrl {
			rockchip,pins = <0 RK_PC3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
		com2_485_ctrl: com2_485_ctrl {
			rockchip,pins = <3 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
		com3_485_ctrl: com3_485_ctrl {
			rockchip,pins = <3 RK_PB6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
		com4_485_ctrl: com4_485_ctrl {
			rockchip,pins = <4 RK_PD2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
		com5_485_ctrl: com5_485_ctrl {
			rockchip,pins = <3 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
		com6_485_ctrl: com6_485_ctrl {
			rockchip,pins = <4 RK_PC2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};
&uart0 {
	status = "okay";
	dma-names = "tx","rx";
	pinctrl-0 = <&uart0_xfer &com1_485_ctrl>;
	rs485-term-gpios = <&gpio0 RK_PC3 GPIO_ACTIVE_HIGH>;
	rs485-rts-delay = <1 5>;
	rs485-rx-during-tx;
	linux,rs485-enabled-at-boot-time;
};

&uart3 {
	status = "okay";
	dma-names = "tx","rx";
	pinctrl-0 = <&uart3m1_xfer &com2_485_ctrl>;
	rs485-term-gpios = <&gpio3 RK_PA4 GPIO_ACTIVE_HIGH>;
	rs485-rts-delay = <1 5>;
	rs485-rx-during-tx;
	linux,rs485-enabled-at-boot-time;
};

&uart4 {
	status = "okay";
	dma-names = "tx","rx";
	pinctrl-0 = <&uart4m1_xfer &com3_485_ctrl>;
	rs485-term-gpios = <&gpio3 RK_PB6 GPIO_ACTIVE_HIGH>;
	rs485-rts-delay = <1 5>;
	rs485-rx-during-tx;
	linux,rs485-enabled-at-boot-time;
};

&uart5 {
	status = "okay";
	dma-names = "tx","rx";
	pinctrl-0 = <&uart5m1_xfer &com4_485_ctrl>;
	rs485-term-gpios = <&gpio4 RK_PD2 GPIO_ACTIVE_HIGH>;
	rs485-rts-delay = <1 5>;
	rs485-rx-during-tx;
	linux,rs485-enabled-at-boot-time;
};

&uart8 {
	status = "okay";
	dma-names = "tx","rx";
	pinctrl-0 = <&uart8m1_xfer &com5_485_ctrl>;
	rs485-term-gpios = <&gpio3 RK_PA3 GPIO_ACTIVE_HIGH>;
	rs485-rts-delay = <1 5>;
	rs485-rx-during-tx;
	linux,rs485-enabled-at-boot-time;
};

&uart9 {
	status = "okay";
	dma-names = "tx","rx";
	pinctrl-0 = <&uart9m1_xfer &com6_485_ctrl>;
	rs485-term-gpios = <&gpio4 RK_PC2 GPIO_ACTIVE_HIGH>;
	rs485-rts-delay = <1 5>;
	rs485-rx-during-tx;
	linux,rs485-enabled-at-boot-time;
};


&gpu {
	status = "disabled";
};
&nandc0 {
	status = "disabled";
};

&rkvdec {
	status = "disabled";
};

&rkvdec_mmu {
	status = "disabled";
};

&rkvenc {
	status = "disabled";
};

&rkvenc_mmu {
	status = "disabled";
};


&combphy0_us {
	status = "okay";
};

&combphy1_usq {
	status = "okay";
};

&combphy2_psq {
	status = "okay";
};

&mdio0 {
	rgmii_phy0: phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
	};
};

&mdio1 {
	rgmii_phy1: phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
	};
};

&gmac0 {
	phy-mode = "rgmii";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio2 RK_PD3 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	assigned-clocks = <&cru SCLK_GMAC0_RX_TX>, <&cru SCLK_GMAC0>;
	assigned-clock-parents = <&cru SCLK_GMAC0_RGMII_SPEED>, <&cru CLK_MAC0_2TOP>;
	assigned-clock-rates = <0>, <125000000>;

	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_miim
		     &gmac0_tx_bus2
		     &gmac0_rx_bus2
		     &gmac0_rgmii_clk
		     &gmac0_rgmii_bus>;

	tx_delay = <0xff>;
	rx_delay = <0xff>;

	phy-handle = <&rgmii_phy0>;
	status = "okay";
};

&gmac1 {
	phy-mode = "rgmii";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio2 RK_PD1 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>, <&cru CLK_MAC1_2TOP>;
	assigned-clock-rates = <0>, <125000000>;

	pinctrl-names = "default";
	pinctrl-0 = <&gmac1m1_miim
		     &gmac1m1_tx_bus2
		     &gmac1m1_rx_bus2
		     &gmac1m1_rgmii_clk
		     &gmac1m1_rgmii_bus>;

	tx_delay = <0x4f>;
	rx_delay = <0x26>;

	phy-handle = <&rgmii_phy1>;
	status = "okay";
};

